<div>
  <table id="vote-table" *ngIf="items.length > 0">
    <tr class="text-center">
      <th>{{idColumn}}</th>
      <th>{{nameColumn}}</th> 
      <th>{{voteColumn}}</th>
      <th>{{removeColumn}}</th>
    </tr>
    <tr *ngFor="let item of items">
      <td class="px-2">{{item.id}}</td>
      <td *ngIf="item.editing" class="px-2">
        <input class="edit-input" (change)="handleItemChange(item)" [(ngModel)]="item.name">
      </td>
      <td *ngIf="!item.editing" class="px-2">{{item.name}}</td>
      <td class="px-2">
        <button class="btn btn-success btn-sm small-margin-r"
          (click)="editVote(item, 1)">Vote Up</button>
        <button class="btn btn-danger btn-sm"
          (click)="editVote(item, -1)">Vote Down</button>
        {{item.vote}}
      </td>
      <td class="px-2">
        <button *ngIf="item.editing" class="btn btn-info btn-sm edit-button small-margin-r"
          (click)="editItem(item)">Save</button>
        <button *ngIf="!item.editing" class="btn btn-dark btn-sm edit-button mr-1"
          (click)="editItem(item)">Edit</button>
        <button class="btn btn-warning btn-sm remove-button"
          (click)="removeItem(item)">Remove</button>
      </td>
    </tr>
  </table>
  <div *ngIf="initDone" class="ml-1 mt-1 container">
    <div class="row">
      <input #name id="new-item-name" class="small-margin-r" type="text">
      <button id="new-item-button" class="btn btn-primary btn-sm"
        (click)="addItem(name.value)">Add item</button>
    </div>
  </div>
</div>
